---
layout: base
---
    {% include slide_box.html %}


	<div id="content">
        <div class="container">
            <div class="row">
                <div class="grid_12" style="background: white url('/images/infographic/start_1.png') no-repeat center;height: 375px;">

                </div>
            </div>
            <div class="row">
                <br/><br/>
            </div>
        </div>

		<div class="container">

			{% include key_priorities.html %}

            {% include our_advantages.html %}

            <div class="container">
                <div class="row">
                    <div class="grid_12" style="background: white url('/images/infographic/start_2.png') no-repeat center; height: 690px;">

                    </div>
                </div>
                <div class="row">
                    <br/><br/>
                </div>
            </div>

			<div class="container">
				<div class="row">
					<div class="grid_12">
						<hr class="m_05">
					</div>
				</div>
			</div>

		</div>
	</div>
